CommBE/source_CommBE/tbldef/STAGE_ReturnsMTD.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="STAGE_ReturnsMTD" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="STAGE_ReturnsMTD">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="PrimaryKey" index-key="Territory_x0020__x0028_AAFS_x0029_ " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:index index-name="salesperson_cd" index-key="Territory_x0020__x0028_AAFS_x0029_ " primary="no" unique="yes" clustered="no" order="asc"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Territory_x0020__x0028_AAFS_x0029_" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
<xsd:element name="Fiscal_x0020_MTD_x0020_Gross_x0020_Sales" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double"/>
<xsd:element name="Fiscal_x0020_MTD_x0020_Credits" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double"/>
<xsd:element name="Fiscal_x0020_YTD_x0020_Gross_x0020_Sales" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double"/>
<xsd:element name="Fiscal_x0020_YTD_x0020_Credits" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
